- Numpy

In [ ]:
# Numpy
import numpy as np

In [5]:
a = np.array((1,2,3,4))
print(a)
print(type(a))
print(a.shape)

b = np.array([[1,2,3], [4,5,6]])
print(b)
print(type(b))
print(b.shape)

[1 2 3 4]
<class 'numpy.ndarray'>
(4,)
[[1 2 3]
 [4 5 6]]
<class 'numpy.ndarray'>
(2, 3)

In [9]:
a = np.array((1,2,3,4), float)
print(a)
print(type(a[0]))
print(a.shape)

b = np.array([1,2,3,4], int)
print(b)
print(type(b[0]))
print(b.shape)

[1. 2. 3. 4.]
<class 'numpy.float64'>
(4,)
[1 2 3 4]
<class 'numpy.int64'>
(4,)

In [13]:
a = np.array([1,2])
b = np.array([3,4])

print(a+b)
print(a*b)

[4 6]
[3 8]

In [20]:
a = np.zeros((2,2))
print(a)

b = np.array([2,3])
print(b)
print(a+b)

print(a+b[np.newaxis,:])
print(a+b[:,np.newaxis])

[[0. 0.]
 [0. 0.]]
[2 3]
[[2. 3.]
 [2. 3.]]
[[2. 3.]
 [2. 3.]]
[[2. 2.]
 [3. 3.]]

In [25]:
a = np.array([-1, 2, -3, 4])
a = np.abs(a)
print(a)

b = np.array([1,4,9])
b = np.sqrt(b)
print(b)

import math
c = np.array([math.e, 1])
c = np.log(c)
print(c)

d = np.array([1.1, 1.5, 1.9])
print(np.floor(d))
print(np.ceil(d))
print(np.rint(d))

[1 2 3 4]
[1. 2. 3.]
[1. 0.]
[1. 1. 1.]
[2. 2. 2.]
[1. 2. 2.]

In [26]:
a = np.array([1,2,3,4,5])
# 합
print('sum')
print(a.sum())
print(np.sum(a))
# 곱
print('production')
print(a.prod())
print(np.prod(a))
# 최소값과 그의 index
print('min value and its index')
print(a.min())
print(a.argmin())
# 최대값과 그의 index
print('max value and its index')
print(a.max())
print(a.argmax())
# 평균과 표준편차
print('mean')
print(a.mean())
print('standard deviation')
print(a.std())

sum
15
15
production
120
120
min value and its index
1
0
max value and its index
5
4
mean
3.0
standard deviation
1.4142135623730951

- pandas

In [28]:
import numpy as np
import pandas as pd

In [29]:
a = [1,2,3,4,5]
a_array = np.array(a)
a_series = pd.Series(a)

print(a)
print(a_array)
print(a_series)

[1, 2, 3, 4, 5]
[1 2 3 4 5]
0    1
1    2
2    3
3    4
4    5
dtype: int64

In [32]:
a = pd.Series([1,2,3,4,5])
print(a)

b = pd.Series([1,3,5,np.nan], index = ['a','b','c','d'])
print(b)

0    1
1    2
2    3
3    4
4    5
dtype: int64
a    1.0
b    3.0
c    5.0
d    NaN
dtype: float64

In [35]:
dates = pd.date_range('20180801', periods = 3)
a = pd.Series([10, 20, 30], index = dates)
print(a)
print(a['2018-08-01'])
print(a['2018-08-03'])
print(a[0])
print(a[2])

2018-08-01    10
2018-08-02    20
2018-08-03    30
Freq: D, dtype: int64
10
30
10
30

In [46]:
data = {'temperature': [35, 39, 41],
       'humidity': ['mid', 'high', 'high'], 
       'weather': ['sunny', 'cloudy', 'rainy']}
a = pd.DataFrame(data)

print(a)

date = ['2016-08-01', '2016-08-02', '2016-08-03']
features = ['temperature', 'humidity', 'weather']
b = pd.DataFrame(data, index = date, columns=features)


print(b)
b

  humidity  temperature weather
0      mid           35   sunny
1     high           39  cloudy
2     high           41   rainy
            temperature humidity weather
2016-08-01           35      mid   sunny
2016-08-02           39     high  cloudy
2016-08-03           41     high   rainy

            temperature humidity weather
2016-08-01           35      mid   sunny
2016-08-02           39     high  cloudy
2016-08-03           41     high   rainy

In [48]:
b.temperature

2016-08-01    35
2016-08-02    39
2016-08-03    41
Name: temperature, dtype: int64

In [49]:
b['temperature']

2016-08-01    35
2016-08-02    39
2016-08-03    41
Name: temperature, dtype: int64

In [51]:
b['play'] = (b['temperature'] <= 35) & (b['weather'] == 'sunny')
print(b)

            temperature humidity weather   play
2016-08-01           35      mid   sunny   True
2016-08-02           39     high  cloudy  False
2016-08-03           41     high   rainy  False

In [53]:
del b['play']
b

            temperature humidity weather
2016-08-01           35      mid   sunny
2016-08-02           39     high  cloudy
2016-08-03           41     high   rainy

In [55]:
A = pd.DataFrame({'color':['green', 'yellow', 'red'],
                 'num':[1,2,3]})
A

    color  num
0   green    1
1  yellow    2
2     red    3

In [75]:
B = pd.DataFrame({'color':['green', 'yellow', 'pink'],
                 'size':['S', 'M', 'M']})
B

    color size
0   green    S
1  yellow    M
2    pink    M

### Inner join
A와 B에 동시에 등장하는 포인트들을 조인

In [76]:
pd.merge(A, B, how='inner')

    color  num size
0   green    1    S
1  yellow    2    M

### Outer join
A 또는 B에 모두 등장하는 포인트들을 조인

In [78]:
pd.merge(A, B, how='outer')

    color  num size
0   green  1.0    S
1  yellow  2.0    M
2     red  3.0  NaN
3    pink  NaN    M

### Left join
A에 포함된 포인트들만 조인

In [79]:
pd.merge(A, B, how='left')

    color  num size
0   green    1    S
1  yellow    2    M
2     red    3  NaN

### Right join
B에 포함된 포인트들만 조인

In [80]:
pd.merge(A, B, how='right')

    color  num size
0   green  1.0    S
1  yellow  2.0    M
2    pink  NaN    M